.jumbotron {
    background-image: url('../../../images/andras-vas-Bd7gNnWJBkU-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

body {
    overflow-y: hidden;
}